// _colors.scss
$light-background-color: #C5D3E2;
$dark-background-color: #1C2A39;
$light-background-hover-color: rgba(172, 186, 201, 0.15);
$dark-background-hover-color: #6C7A89;

$light-background-active-color: #9CAAB9;
$dark-background-active-color: #4C5A69;

$lighter-border-color: rgba(188, 202, 217, 0.25);
$light-border-color: rgba(188, 202, 217, 0.75);
$dark-border-color: #2C3A49;

$mark-set-background-color: rgba(78, 236, 145, 0.25);
$mark-set-hover-background-color: rgba(78, 236, 145, 0.75);
$mark-set-active-background-color: #1EBC61;

$mark-selected: #FDE3A7;
$mark-selected-hover: #FFCF4B;


$text-color: black;
$text-color-inversed: white;
