// agenda-view.scss
@import "../colors";

#agenda-view {
    height: 100%;
    display: flex;
    flex-direction: column;

    > .segment {
        margin: 0;
    }
    
    #agenda-list {
        flex: 0 0 auto;
        display: flex;
        flex-direction: column;
    }
}
